/* Partie header */
h1 {
    font-size: 108px;
    background-color: rgb(200, 21, 22);
    padding: 30px 0;
}
.titleSpan {
    color: #fff;
}

/* Filtre et recherche */
.input-sticky {
    position: sticky;
    top: 0;
    background-color: rgb(200, 21, 22);
    z-index: 1;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
.filtre{
    display: flex;
    justify-content: center;
    width: 600px;
}
@media(max-width: 576px){
    .filtre{
        width: 400px;
    }
}


/* Partie main */
.carte {
    border: 3px solid black;
    border-radius: 15px;
    padding: 20px;
    cursor: pointer;
    transition: all 0.15s cubic-bezier(0.39, 1.71, 0.77, 1.62) 0s;
    position: relative;
    background-color: #fff;
}

.carte:hover {
    box-shadow: none;
    transform: translate(5px, 5px);
}
.types img{
    width: 50px;
    border-radius: 50px;
    margin-left: 5px;
}
@media(max-width: 576px){
    .types img{
        width: 30%;
    }
}
.middle img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Pipe des cards */
.ombre-feu {
    box-shadow: #C81516 5px 5px 0px;
}

.ombre-eau {
    box-shadow: #1C92E8 5px 5px 0px;
}

.ombre-plante {
    box-shadow: #3BB143 5px 5px 0px;
}

.ombre-electrique {
    box-shadow: #F8D030 5px 5px 0px;
}

.ombre-glace {
    box-shadow: #98D8D8 5px 5px 0px;
}

.ombre-combat {
    box-shadow: #C03028 5px 5px 0px;
}

.ombre-poison {
    box-shadow: #A040A0 5px 5px 0px;
}

.ombre-sol {
    box-shadow: #E0C068 5px 5px 0px;
}

.ombre-vol {
    box-shadow: #A890F0 5px 5px 0px;
}

.ombre-psy {
    box-shadow: #F85888 5px 5px 0px;
}

.ombre-insecte {
    box-shadow: #A8B820 5px 5px 0px;
}

.ombre-roche {
    box-shadow: #B8A038 5px 5px 0px;
}

.ombre-spectre {
    box-shadow: #705898 5px 5px 0px;
}

.ombre-dragon {
    box-shadow: #7038F8 5px 5px 0px;
}

.ombre-tenebres {
    box-shadow: #705848 5px 5px 0px;
}

.ombre-acier {
    box-shadow: #B8B8D0 5px 5px 0px;
}

.ombre-fee {
    box-shadow: #EE99AC 5px 5px 0px;
}

.ombre-normal {
    box-shadow: #A8A878 5px 5px 0px;
}
