/* Style du header */
.header{
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    text-align: center;
}
.arrow-back{
    position: absolute;
    top: 0;
    left: 0;
    padding: 50px 50px;
    font-size: 70px;
    cursor: pointer;
    color: #fff;
}

@media (max-width: 768px) {
    .arrow-back {
        font-size: 40px;
    }
}
.shinyButton{
    border: none;
    background-color: transparent;
}
.shiny {
    position: absolute;
    top: 10%;
    left: 60%;
}
.shiny img{
    width: 60px;
}
@keyframes shinyAnimation {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}
.shiny img {
    animation: shinyAnimation 1s infinite;
}

/* Style du titre: nom du pokemon */
h1{
    font-size: 80px;
}

/* Style des barres de statistiques */
.progress-container {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: #e0e0e0;
    border-radius: 20px;
    overflow: hidden;
  }
  .progress-bar-hp {
    position: absolute;
    height: 100%;
    background-color: #00FF00;
  }
  .progress-bar-atk {
    position: absolute;
    height: 100%;
    background-color: #FF4500;
  }
  .progress-bar-def {
    position: absolute;
    height: 100%;
    background-color: #228B22;
  }
  .progress-bar-atk-spe {
    position: absolute;
    height: 100%;
    background-color: #8A2BE2;
  }
  .progress-bar-def-spe {
    position: absolute;
    height: 100%;
    background-color: #00CED1;
  }
  .progress-bar-vit {
    position: absolute;
    height: 100%;
    background-color: #FFFF00;
  }
  
  .progress-text {
    position: absolute;
    right: 40px;
    width: 100%;
    font-size: 20px;  
    color: #333;  
  }

/* Pipe pour le bg du header */
.bg-feu {
    background-color: #C81516;
}

.bg-eau {
    background-color: #1C92E8;
}

.bg-plante {
    background-color: #3BB143;
}

.bg-electrique {
    background-color: #F8D030;
}

.bg-glace {
    background-color: #98D8D8;
}

.bg-combat {
    background-color: #C03028;
}

.bg-poison {
    background-color: #A040A0;
}

.bg-sol {
    background-color: #E0C068;
}

.bg-vol {
    background-color: #A890F0;
}

.bg-psy {
    background-color: #F85888;
}

.bg-insecte {
    background-color: #A8B820;
}

.bg-roche {
    background-color: #B8A038;
}

.bg-spectre {
    background-color: #705898;
}

.bg-dragon {
    background-color: #7038F8;
}

.bg-tenebres {
    background-color: #705848;
}

.bg-acier {
    background-color: #B8B8D0;
}

.bg-fee {
    background-color: #EE99AC;
}

.bg-normal {
    background-color: #A8A878;
}

/* Style de la section évolution */
.evolution {
    border: 3px solid black;
    border-radius: 15px;
    cursor: pointer;
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.evolution:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}