<!-- Header -->
<section class="header {{ pokemon.types[0].name | pokemonBgColor }}">
    <i class="fa-solid fa-arrow-left arrow-back" (click)="back()"></i>
        <img [src]="isShiny ? pokemon.sprites.shiny : pokemon.sprites.regular" class="imgPokemon img-fluid" [attr.alt]="'Image de ' + pokemon.name.fr">
        <div class="shiny">
            <button class="shinyButton" (click)="toggleshiny()">
                <img src="https://cdn-icons-png.flaticon.com/256/2267/2267359.png" alt="Bouton pousser le pokemon en version shiny">
            </button>
            <p>Cliquez !</p>
        </div>
</section>

<div class="container">
    <h1 class="my-5 text-center">{{pokemon.name.fr}}</h1>

    <!-- Types -->
    <div class="row text-center justify-content-center mb-4">
        @for(type of pokemon.types; track type.name) {
            <div class="col-2">
                <img src="{{type.image}}" [attr.alt]="'Image du type' + type.name">
                <h4>{{type.name}}</h4>
            </div>
        }
    </div>

    <!-- Taille et poids -->
    <div class="row text-center justify-content-center mb-4 border-bottom">
        <div class="col-6">
            <h4>{{pokemon.weight}}</h4>
            <h4>POIDS</h4>
        </div>
        <div class="col-6">
            <h4>{{pokemon.height}}</h4>
            <h4>TAILLE</h4>
        </div>
    </div>

    <!-- Statistiques -->
    <div class="row text-center justify-content-center mb-4 border-bottom">
        <h2 class="mb-4">STATISTIQUES</h2>

        <div class="d-flex justify-content-center mb-3">
            <div class="col-4">
                <h4>Point de vie</h4>
            </div>
            <div class="col-8">
                <div class="progress-container">
                    <div class="progress-bar-hp" [style.width.%]="calculatePercentage(pokemon.stats.hp)"></div>
                    <div class="progress-text">{{ pokemon.stats.hp }}</div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mb-3">
            <div class="col-4">
                <h4>Attaque</h4>
            </div>
            <div class="col-8">
                <div class="progress-container">
                    <div class="progress-bar-atk" [style.width.%]="calculatePercentage(pokemon.stats.atk)"></div>
                    <div class="progress-text">{{ pokemon.stats.atk }}</div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mb-3">
            <div class="col-4">
                <h4>Défense</h4>
            </div>
            <div class="col-8">
                <div class="progress-container">
                    <div class="progress-bar-def" [style.width.%]="calculatePercentage(pokemon.stats.def)"></div>
                    <div class="progress-text">{{ pokemon.stats.def }}</div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mb-3">
            <div class="col-4">
                <h4>Attaque spéciale</h4>
            </div>
            <div class="col-8">
                <div class="progress-container">
                    <div class="progress-bar-atk-spe" [style.width.%]="calculatePercentage(pokemon.stats.spe_atk)">
                    </div>
                    <div class="progress-text">{{ pokemon.stats.spe_atk }}</div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mb-3">
            <div class="col-4">
                <h4>Défense spéciale</h4>
            </div>
            <div class="col-8">
                <div class="progress-container">
                    <div class="progress-bar-def-spe" [style.width.%]="calculatePercentage(pokemon.stats.spe_def)">
                    </div>
                    <div class="progress-text">{{ pokemon.stats.spe_def }}</div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mb-3">
            <div class="col-4">
                <h4>Vitesse</h4>
            </div>
            <div class="col-8">
                <div class="progress-container">
                    <div class="progress-bar-vit" [style.width.%]="calculatePercentage(pokemon.stats.vit)"></div>
                    <div class="progress-text">{{ pokemon.stats.vit }}</div>
                </div>
            </div>
        </div>
    </div>

    <!-- Evolutions -->
    <div class="row mb-4 justify-content-center text-center">
        @if(!pokemon.evolution) {
            <h4 class="">Pas d'évolution</h4>
        } @else {        
            <h2 class="mb-5">Evolutions</h2>
            <div class="col-sm-4 col-12" *ngFor="let pre of pokemon.evolution.pre">
                <a [routerLink]="['/pokemons', pre.pokedex_id]">
                    <div class="evolution mb-4">
                        <h4>{{ pre.name }}</h4>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-12">
                <div class="evolution mb-4">
                    <a [routerLink]="['/pokemons', pokemon.pokedex_id]">
                        <h4>{{ pokemon.name.fr }}</h4>
                    </a>
                </div>
            </div>
            <div class="col-sm-4 col-12" *ngFor="let next of pokemon.evolution.next">
                <div class="evolution mb-4">
                    <a [routerLink]="['/pokemons', next.pokedex_id]">
                        <h4>{{ next.name }}</h4>
                    </a>
                </div>
            </div>
        }
    </div>
</div>
