@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Madimi+One&display=swap');

/* Style de font pour tout le site */
*{
    font-family: "Lilita One", sans-serif;
}

/* Style des liens */
a{
    text-decoration: none;
    color: #333;
}